<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="bot_gazebo">
    
    <gazebo>
        <plugin
            filename="ignition-gazebo-diff-drive-system"
            name="ignition::gazebo::systems::DiffDrive">
            <left_joint>left_wheel_joint</left_joint>
            <right_joint>right_wheel_joint</right_joint>
            
            <wheel_separation>0.14</wheel_separation>
            <wheel_radius>0.033</wheel_radius>
            
            <topic>cmd_vel</topic>
            <odom_topic>odom</odom_topic>
            <tf_topic>tf</tf_topic>
            <frame_id>odom</frame_id>
            <child_frame_id>base_footprint</child_frame_id>
            <odom_publish_frequency>30</odom_publish_frequency>
        </plugin>
    </gazebo>

    <gazebo reference="right_wheel_link">
        <mu1>1.0</mu1>
        <mu2>1.0</mu2>
        <kp>1000000.0</kp>
        <kd>10.0</kd>
        <material>Gazebo/Black</material>
    </gazebo>
    
    <gazebo reference="left_wheel_link">
        <mu1>1.0</mu1>
        <mu2>1.0</mu2>
        <kp>1000000.0</kp>
        <kd>10.0</kd>
        <material>Gazebo/Black</material>
    </gazebo>
    
    <gazebo reference="caster_front_link">
        <mu1>0.0</mu1>
        <mu2>0.0</mu2>
        <material>Gazebo/White</material>
    </gazebo>
    
    <gazebo reference="caster_rear_link">
        <mu1>0.0</mu1>
        <mu2>0.0</mu2>
        <material>Gazebo/White</material>
    </gazebo>
    
    <gazebo reference="imu_link">
        <sensor name="imu_sensor" type="imu">
            <always_on>true</always_on>
            <update_rate>100</update_rate>
            <topic>imu</topic>
            <gz_frame_id>imu_link</gz_frame_id>
            <imu/>
        </sensor>
        <material>Gazebo/Red</material>
    </gazebo>
    
    <gazebo reference="laser_link">
        <sensor name="laser_sensor" type="gpu_lidar">
            <gz_frame_id>laser_link</gz_frame_id>
            <always_on>true</always_on>
            <update_rate>10</update_rate>
            <visualize>true</visualize>
            <topic>scan</topic>
            <lidar>
                <scan>
                    <horizontal>
                        <samples>360</samples>
                        <resolution>1</resolution>
                        <min_angle>-3.14159</min_angle>
                        <max_angle>3.14159</max_angle>
                    </horizontal>
                </scan>
                <range>
                    <min>0.12</min>
                    <max>10.0</max>
                </range>
            </lidar>
        </sensor>
        <material>Gazebo/Red</material>
    </gazebo>

    <gazebo reference="laser_joint"><preserveFixedJoint>true</preserveFixedJoint></gazebo>
    <gazebo reference="imu_joint"><preserveFixedJoint>true</preserveFixedJoint></gazebo>
    <gazebo reference="camera_mount_joint"><preserveFixedJoint>true</preserveFixedJoint></gazebo>


    <!-- Left Camera Sensor -->
    <gazebo reference="camera_left_link">
        <sensor name="camera_left" type="camera">
            <pose>0 0 0 0 0 0</pose>
            <always_on>true</always_on>
            <update_rate>30</update_rate>
            <visualize>true</visualize>
            <topic>camera/left/image_raw</topic>
            <camera name="left_camera">
                <horizontal_fov>1.5708</horizontal_fov>
                <image>
                    <width>640</width>
                    <height>360</height>
                    <format>R8G8B8</format>
                </image>
                <clip>
                    <near>0.02</near>
                    <far>300</far>
                </clip>
                <noise>
                    <type>gaussian</type>
                    <mean>0.0</mean>
                    <stddev>0.007</stddev>
                </noise>
            </camera>
        </sensor>
        <material>Gazebo/Blue</material>
    </gazebo>

    <!-- Right Camera Sensor -->
    <gazebo reference="camera_right_link">
        <sensor name="camera_right" type="camera">
            <pose>0 0 0 0 0 0</pose>
            <always_on>true</always_on>
            <update_rate>30</update_rate>
            <visualize>true</visualize>
            <topic>camera/right/image_raw</topic>
            <camera name="right_camera">
                <horizontal_fov>1.5708</horizontal_fov>
                <image>
                    <width>640</width>
                    <height>360</height>
                    <format>R8G8B8</format>
                </image>
                <clip>
                    <near>0.02</near>
                    <far>300</far>
                </clip>
                <noise>
                    <type>gaussian</type>
                    <mean>0.0</mean>
                    <stddev>0.007</stddev>
                </noise>
            </camera>
        </sensor>
        <material>Gazebo/Blue</material>
    </gazebo>

    <gazebo reference="camera_left_joint"><preserveFixedJoint>true</preserveFixedJoint></gazebo>
    <gazebo reference="camera_right_joint"><preserveFixedJoint>true</preserveFixedJoint></gazebo>

</robot>
